{% extends 'base.html' %} {% block content %}

<div id="led-index" class="container">
  <div class="title">Power</div>
  <div class="row">
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item">
          Matrix LED Panel
          <div class="material-switch float-right">
            <input
              id="matrixPower"
              name="someSwitchOption001"
              type="checkbox"
              onchange="matrixPower()"
              value=""
              {{ matrixSwitchState }}
            />
            
            <label for="matrixPower" class="badge-success"></label>
          </div>
        </li>
        <li class="list-group-item">
          NeoPixl LED Strip
          <div class="material-switch float-right">
            <input
              id="neoPixlPower"
              name="someSwitchOption002"
              type="checkbox"
              onchange="neoPixlPower()"
              value=""
              {{ neoPixlSwitchState }}
            />
            <label for="neoPixlPower" class="badge-success"></label>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
</div>

  {% endblock %}
