{% extends 'base.html' %} {% block content %}

<!-- Modal -->
<div
  class="modal fade"
  id="busyDialog"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="busyDialogLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="loader mx-auto"></div>
      </div>
      <div class="modal-footer">
        <h5 class="mx-auto">Please wait a moment</h5>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<section id="led-strip" class="container">
  <div class="title">{% block title %} NeoPixel Led Strip {% endblock %}</div>
  <div class="complete-table">
    <div class="row">
      <div class="col">
        <ul class="list-group">
            <li class="list-group-item">
              <form
            id="update-strip-color"
            method="post"
            enctype="multipart/form-data"
          >
              <button
                data-bs-toggle="modal"
                data-bs-target="#busyDialog"
                type="submit"
                class="btn btn-secondary btn-md float-start color-bt"
              >
                Solid Color
              </button>
              <div class="colorPicker">
                <input
                  type="color"
                  class="form-control form-control-color float-end"
                  name="stripcolor"
                  id="stripcolor"
                  value="{{ lastStripColor }}"
                  title="Choose your color"
                />
              </div>
            </form>
            </li>
            <li class="list-group-item">
              <form
            id="update-strip-chase"
            method="post"
            enctype="multipart/form-data"
          >
              <button
                data-bs-toggle="modal"
                data-bs-target="#busyDialog"
                type="submit"
                class="btn btn-secondary btn-md float-start chase-bt"
              >
                Color Chase
              </button>
              <div class="colorPicker">
                <input
                  type="color"
                  class="form-control form-control-color float-end"
                  name="chasecolor1"
                  id="chasecolor1"
                  value="{{ lastChaseColor1 }}"
                  title="Choose your color"
                />
              </div>
              <div class="colorPicker">
                <input
                  type="color"
                  class="form-control form-control-color float-end"
                  name="chasecolor2"
                  id="chasecolor2"
                  value="{{ lastChaseColor2 }}"
                  title="Choose your color"
                />
              </div>
              <div class="colorPicker">
                <input
                  type="color"
                  class="form-control form-control-color float-end"
                  name="chasecolor3"
                  id="chasecolor3"
                  value="{{ lastChaseColor3 }}"
                  title="Choose your color"
                />
              </div>
              <div class="colorPicker">
                <input
                  type="color"
                  class="form-control form-control-color float-end"
                  name="chasecolor4"
                  id="chasecolor4"
                  value="{{ lastChaseColor4 }}"
                  title="Choose your color"
                />
              </div>
            </form>
            </li>
            <li class="list-group-item">
              <form
              id="update-strip-pong"
              method="post"
              enctype="multipart/form-data"
            >
              <button
                data-bs-toggle="modal"
                data-bs-target="#busyDialog"
                type="submit"
                class="btn btn-secondary btn-md float-start pong-bt"
              >
                Color Pong
              </button>
              <div class="colorPicker">
                <input
                  type="color"
                  class="form-control form-control-color float-end"
                  name="pongcolor1"
                  id="pongcolor1"
                  value="{{ lastPongColor1 }}"
                  title="Choose your color"
                />
              </div>
              <div class="colorPicker">
                <input
                  type="color"
                  class="form-control form-control-color float-end"
                  name="pongcolor2"
                  id="pongcolor2"
                  value="{{ lastPongColor2 }}"
                  title="Choose your color"
                />
              </div>
              <div class="colorPicker">
                <input
                  type="color"
                  class="form-control form-control-color float-end"
                  name="pongcolor3"
                  id="pongcolor3"
                  value="{{ lastPongColor3 }}"
                  title="Choose your color"
                />
              </div>
              <div class="colorPicker">
                <input
                  type="color"
                  class="form-control form-control-color float-end"
                  name="pongcolor4"
                  id="pongcolor4"
                  value="{{ lastPongColor4 }}"
                  title="Choose your color"
                />
              </div>
            </form>
            </li>
          </li>
          <li class="list-group-item">
            <form
            id="update-strip-fade"
            method="post"
            enctype="multipart/form-data"
          >
            <button
              data-bs-toggle="modal"
              data-bs-target="#busyDialog"
              type="submit"
              class="btn btn-secondary btn-md float-start fade-bt"
            >
              Fade
          </button>
          <select name="fade-color" class="form-select float-end fade-selection" aria-label="Default select example">
            <option value="20" selected>Color palette</option>
            <option value="1">Pride</option>
            <option value="2">Halloween</option>
            <option value="3">Zippy</option>
            <option value="4">Pastel</option>
            <option value="5">RGB</option>
            <option value="6">4th July</option>
            <option value="7">Irland</option>
            <option value="8">Icey</option>
            <option value="9">Gray</option>
            <option value="10">White Flash</option>
            <option value="11">Green Flash</option>
            <option value="12">Red Flash</option>
            <option value="13">Blue Flash</option>
          </select>
          </form>
          </li>
          <li class="list-group-item">
            <form
            id="update-strip-random"
            method="post"
            enctype="multipart/form-data"
          >
            <button
              data-bs-toggle="modal"
              data-bs-target="#busyDialog"
              type="submit"
              class="btn btn-secondary btn-md float-start random-bt"
            >
              Color Sparkle
          </button>
          </form>
          </li>
        </ul>
        <br />
      </div>
    </div>
  </div>
</section>
{% endblock %}
