
#led-strip {
  
  $hairline-weight: 100;
  $thin-weight: 200;
  $light-weight: 300;
  $normal-weight: 400;
  $medium-weight: 500;
  $semibold-weight: 600;
  $bold-weight: 700;
  $xbold-weight: 800;
  $black-weight: 900;

  .title {
    font-size: 24px;
    font-weight: $medium-weight;
    color: rgb(62, 62, 62);
    //text-align: center;
    padding: 10px;
  }
  #chasecolor1,#chasecolor2,#chasecolor3,#chasecolor4{
    margin-left: 10px;

  }

  #pongcolor1,#pongcolor2,#pongcolor3,#pongcolor4{
    margin-left: 10px;

  }
  .colorPicker {
    margin-top: 5px;
  }

  .color-bt {
    margin-top: 5px;
    margin-bottom: 4px;
  }

  .chase-bt {
    margin-top: 5px;
    margin-bottom: 4px;
  }
}