
#led-matrix {
  
  $hairline-weight: 100;
  $thin-weight:     200;
  $light-weight:    300;
  $normal-weight:   400;
  $medium-weight:   500;
  $semibold-weight: 600;
  $bold-weight:     700;
  $xbold-weight:    800;
  $black-weight:    900;
  
  .title {
      font-size: 24px;
      font-weight: $medium-weight; 
      color: rgb(62, 62, 62);
      text-align: center;
      padding: 10px;
  }


 /* Overriding Bootstrap for new look for row and col */
 .complete-table {
    width: 100%;
  }

  .row {
    margin: 5px 0 5px 0;
    text-align: center;
  }

  .row > .col,
  .row > [class^="col-"] {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(86, 61, 124, 0.15);
    border: 1px solid rgba(86, 61, 124, 0.2);
  }

}