#led-matrix {
  $hairline-weight: 100;
  $thin-weight: 200;
  $light-weight: 300;
  $normal-weight: 400;
  $medium-weight: 500;
  $semibold-weight: 600;
  $bold-weight: 700;
  $xbold-weight: 800;
  $black-weight: 900;

  .title {
    font-size: 24px;
    font-weight: $medium-weight;
    color: rgb(62, 62, 62);
    //text-align: center;
    padding: 10px;
  }

  .colorPicker {
    margin-top: 2px;
  }
  .new-message {
    margin-top: 15px;
  }

  label {
    margin-top: 10px;
  }

  .update-but, .upload-but {
    margin-top: 5px;
    margin-bottom: 4px;
  }

  .add-image {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
